
.about-avatar img {
    height: 160px;
    width: 160px;
    border: 2px outset #ed4242;
    padding: 10px;
}

.about-social a.downloadCV span {
    padding-left: 5px;
}

.about-desc h2 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.about-desc h3 {
    font-size: 18px;
    line-height: 32px;
    margin: 0 auto;
}

.about-desc-more {
    padding: 30px 30px 10px;
}

.about-desc-info {
    padding-bottom: 20px;
}

.about-desc-info b {
    padding-right: 10px;
}

.about-desc-info span, 
.about-desc-info a {
    font-size: 14px;
    color: #5F6F81;
}

.about-desc-info a {
    text-decoration: underline;
}

.about-desc-info a:hover {
    text-decoration: none;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.section-about {
    margin: 0 auto;
    max-width: calc(1140px - 30px );
    background: #fff;
    margin-top: -200px;
    z-index: 100;
    position: relative;
    width: 95%;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    transition: 0.5s;
    transform: translateY(20px);
    padding: 0 !important;
    max-width: 950px;
}
.section-about:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 90%;
    background: #fff;
    display: block;
    height: 70%;
    bottom: 0;
    box-shadow: 10px 10px 100px rgba(0,0,0,0.2);
    margin: 0 auto;
    z-index: -1;
}

.section-about.in {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.section-about-wrap {
    padding: 50px;
    background-color: #fff;
    /*box-shadow: 10px 10px 100px rgba(0,0,0,0.1);*/
    border-radius: 5px;
}

.section-about img {
    height: 300px;
    margin: 0 auto;
    width: 300px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

.about-desc-content {
    max-width: 490px;
    text-align: center;
}

.about-desc-content p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.about-desc-social li {
    margin-right: 15px !important;
    display: inline-block;
}

.about-desc-social li a {
    color: #333;
}

.about-desc-social li a:hover {
    color: #fd735a;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }