.section-services {
    padding-bottom: 80px
}

.services-list-icon {
    font-size: 30px;
    position: relative;
    color: #fff;
}

.services-flip {
    display: flex;
    min-height: 270px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    width: 100%;
    height: 100%;
}



.services-flip:hover .services-list {
    -webkit-transform: rotate3d(1, 0, 0, 180deg);
    -moz-transform: rotate3d(1, 0, 0, 180deg);
    -ms-transform: rotate3d(1, 0, 0, 180deg);
    -o-transform: rotate3d(1, 0, 0, 180deg);
    transform: rotate3d(1, 0, 0, 180deg);
}

.services-list {
    position: relative;
    transition-property: box-shadow, -webkit-transform;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform, -webkit-transform;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    -ms-transform-style: inherit;
    -o-transform-style: inherit;
    transform-style: inherit;
    -webkit-perspective: inherit;
    -moz-perspective: inherit;
    -ms-perspective: inherit;
    -o-perspective: inherit;
    perspective: inherit;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
}

.services-list h5 {
    font-size: 20px;
    font-weight: 500;
}


.flip-content {
    -webkit-transform: translate3d(0, 0, 60px) scale(0.85);
    -moz-transform: translate3d(0, 0, 60px) scale(0.85);
    -ms-transform: translate3d(0, 0, 60px) scale(0.85);
    -o-transform: translate3d(0, 0, 60px) scale(0.85);
    transform: translate3d(0, 0, 60px) scale(0.85);
}

.services-list-front {
    background-color: #fff;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    -ms-transform-style: inherit;
    -o-transform-style: inherit;
    transform-style: inherit;
    -webkit-perspective: inherit;
    -moz-perspective: inherit;
    -ms-perspective: inherit;
    -o-perspective: inherit;
    perspective: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.services-list-front:before {
    right: 0;
    content: "";
    position: absolute;
    background: #000;
    left: 0;
    height: 100%;
    opacity: 0.2;
}

.services-list-front h5 {
    padding: 11px 20px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
}

.services-list-back {
    -webkit-transform: rotateY(-180deg) rotateZ(-180deg);
       -moz-transform: rotateY(-180deg) rotateZ(-180deg);
        -ms-transform: rotateY(-180deg) rotateZ(-180deg);
         -o-transform: rotateY(-180deg) rotateZ(-180deg);
            transform: rotateY(-180deg) rotateZ(-180deg);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
       -moz-transform: rotate3d(0, 1, 0, 180deg);
        -ms-transform: rotate3d(0, 1, 0, 180deg);
         -o-transform: rotate3d(0, 1, 0, 180deg);
            transform: rotate3d(0, 1, 0, 180deg);
    z-index: 1;
    background: #9cb494;
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    -ms-transform-style: inherit;
    -o-transform-style: inherit;
    transform-style: inherit;
    -webkit-perspective: inherit;
    -moz-perspective: inherit;
    -ms-perspective: inherit;
    -o-perspective: inherit;
    perspective: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-list-back {
    -webkit-transform: rotateY(-180deg) rotateZ(-180deg);
       -moz-transform: rotateY(-180deg) rotateZ(-180deg);
        -ms-transform: rotateY(-180deg) rotateZ(-180deg);
         -o-transform: rotateY(-180deg) rotateZ(-180deg);
            transform: rotateY(-180deg) rotateZ(-180deg);
}

.services-list-back h5, .services-list-back p {
    color: #fff;
}

.services-list-1 {
    background-image: url("https://images.unsplash.com/photo-1498075702571-ecb018f3752d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1957&q=80");
}

.services-list-2 {
    background-image: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.services-list-3 {
    background-image: url("https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.services-list-4 {
    background-image: url("https://images.unsplash.com/photo-1427751840561-9852520f8ce8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80");
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .container {
        max-width: 80%;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
